html, body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
}
body {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;

}

a { color: hsl(228, 63%, 49%); }
a:hover { color: hsl(217, 59%, 48%); }

h1 { font-weight: lighter; }


.content {
  margin: 0 auto;
  /*max-width: 800px;*/
}

.home {
  text-align: center;
}
.home h1 {
  margin-bottom: 32px;
}

.search-box-wrapper {
  border: 3px solid #4a90e2;
  border: 2px solid black;
  max-width: 420px;
  margin: 0 auto 32px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; /* TODO prefix */
  flex-direction: row;

  position: fixed;
  top: 40px;
  z-index: 1000;
  background-color: white;
  box-shadow: 10px 5px 5px #ccc;
  padding-right:8px;

}
.search-icon { padding: 10px; }
.search-input-wrapper {
  flex: 1;
}
.search-input {
  width: 100%;
  border: none;
  font-size: 28px;
  outline: none;
  text-align: center;
  font-weight: lighter;
  padding: 4px;
  box-sizing: border-box;
  /*margin-bottom: 16px;*/
}
.search-image-wrapper {

}
.search-box-wrapper img {
  cursor: pointer;
  width: 100px;
  height: 22px;
}

/** stamp sits below search to not put gifs under search */
.stamp {
  width: 460px;
  height: 50px;
  /*background-color: red;*/
}

.loader {
  text-align:center;
  margin: 100px 32px 32px 32px;
}
.results-wrapper .loader {
  margin: 32px;
}

.VisibilitySensor {
  height: 100px;
}

.title-text-wrapper {
  position:relative;
  top: -5px;
  left: 20px;
  font-family: "Comic Sans MS", cursive, serif;
  font-weight: bold;
  font-size: 1.45em;
}

.floating-link {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size:30px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  font-style: italic;
  z-index: 99999;
  cursor:pointer;
}
.live-h1 {
  margin-top: 0;
}
.ia-logo {
  width: 50px;
  height: 50px;
  background-image: url(../assets/ia-logo.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 50%;
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  padding: 0 0 10px 0;
  z-index: 9999;
}
.header .links {
  display: inline-block;
  padding: 10px;

  background-color: white;
}
.header .links a {
  margin-right: 10px;
  letter-spacing: 1px;
}
.header .links a:hover {
  font-style: italic;
}
.about {
  max-width: 600px;
  padding: 20px 30px 40px 30px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  background-color: white;
}

@media (max-width: 800px) {
  body {
    padding: 10px;
  }
  .search-box-wrapper {
    max-width: initial;
    width: 90%;
    box-sizing: border-box;
  }
  .content {
    overflow: hidden;
  }
  .floating-link {
    display: none;
  }
  .about { margin-top: 40px; }
  .results-wrapper .loader {
    top: 100px;
    position: relative;
  }
}
